body{
    font-family: 'Cairo', sans-serif;
}

/***** Start Header *****/

/*** Start Upper-bar ***/
header .upper-bar{
    text-align: right;
    background:#2f4f73;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}
header .upper-bar .info{
    display: inline-block;
}
header .upper-bar .info ul{
    margin: 0;
    
}
header .upper-bar .info ul li{
    display: inline-block;
    margin-left: 25px;
    color: #fff;
}
header .upper-bar .info ul li i{
    margin-left: 10px;
}
header .upper-bar .signUp_login_buttons{
    margin-right: 800px;
    height: 100%;
}
header .upper-bar .btn1 {
    background-color:#de8033;
    color: #fff;
    height: 100%;
    border: none;
    margin-left: -4px;
}
header .upper-bar .btn2 {
    background-color:#1c7330;
    color: #fff;
    height: 100%;
    border: none;
}
header .upper-bar .social-media{
    float: left;
    margin-left: 20px;
}
header .upper-bar .social-media ul{
    margin: 0;
}
header .upper-bar .social-media ul li{
    display: inline-block;
}
header .upper-bar .social-media ul li a{
    color: #fff;
    margin-left: 15px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header .upper-bar .social-media ul li a:hover,
header .upper-bar .social-media ul li a:focus
{
    text-decoration: none;
    color: #000;
}
/*** End Upper-bar ***/

/*** Start Navbar ***/
header .navbar{
    box-shadow: 0px 2px 7px -5px;
}
header .navbar-light .navbar-nav .nav-link{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}
header .navbar .logo{
    margin-left: 20px;
}
header .navbar .logo > a{
    color: #000;
}
header .navbar .logo > a:hover{
    text-decoration: none;
    color: #888;
}
/*
header .navbar .logo img{
    width: 100%;
}
*/
/*** End Navbar ***/

/*** Start Content ***/
header .content{
    background: url(../img/background-header.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
header .content h3{
    margin: auto;
    margin-top: 8rem;
    max-width: 600px;
    line-height: 60px;
    color: #333;
    text-shadow: 1px 1px 0px;
    margin-bottom: 3rem;
}
header .content a{
    text-decoration: none;
    background: #fff;
    padding: 15px 30px;
    display: inline-block;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);
    color: #1488CC;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header .content a:hover,
header .content a:focus
{
    box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0);
}
/*** End Content ***/

/***** End Header *****/

/***** Start About *****/

.about{
    text-align: right;
    overflow: hidden;
}
.about .content{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about h2{
    color: #1488CC;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.about h6{
    color: #777;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.about p{
    font-size: .95rem;
    line-height: 30px;
}
.about .img-container{
    overflow: hidden;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 2px solid #f5f5f5;
    box-shadow: 5px 5px 10px -6px;
}
.about .img-container img{
    width: 100%;
}
/***** End About *****/

/***** Start Our Goals *****/

.goals{
    text-align: right;
}
.goals .row{
    margin: 0;
}
.goals .col-md-4{
    padding: 0;
}
.goals .content{
    padding: 20px 50px;
}
.goals h2{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.goals ul{
    
}
.goals ul li{
    color: #eee;
    margin-bottom: 1rem;
}
}
.goals .img-container{
    overflow: hidden;
}
.goals .img-container img{
    width: 100%;
    height: 100%;
}
.goals .content-1{
    background: #4baae2;
}
.goals .content-2{
    background: #4baae2;
}
.goals .content-3{
    background: #4baae2;
}

/***** End Our Goals *****/

/******* start events ******/
.events{
    padding-top: 35px;
}
.events h2{
    color: #1488CC;
    font-size: 3rem;
    
}
.events p{
    font-size: 1rem;
    line-height: 30px;
}
/******** start gallery*******/
.events  .head span{
    color: #141413;
}
.events .gallery .head hr{
    width: 100%;
}
.events .gallery .line1 .img{
    margin: 10px;
    margin-right: 0;
}
.events .gallery .line1 img{
    width:120px;
    transition: .3s ease-in-out;
}
.events .gallery .line1 img:hover{
    transform: scale(1.1,1.1);
    cursor:zoom-in;
}
 /****end gallery******/
/***** start video*****/
.video .head hr{
    margin-right: 25px;
    width: 100%;
}
.video .video-fluid {
    margin-top: 10px;
    margin-right: 25px;
    width: 100%;
    height:190px;
}
.prag{
    margin: 30px;
    
}
/****end video*****/
/*****start time***/
.time{
    margin-right: 65px;
}
.time .date{
    float: left;
    background-color:#2f4f73;
    padding: 7px;
    border-radius: 5px;
    color:#fff;
    font-size: 17px;
}
.time .desc h5{
    font-size: 15px;
    font-weight: 700;
}
.time .desc p{
    font-size: 15px;
}

/****************end home ***********/




/************* start student ***********/
.std_header{
    height: 480px !important;
}
.ground img{
    width: 100%;
    height: 320px;
}
.ground .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.std_nav{
    text-align: left;
}
.pro-menu {
    background: #2f4f73;
    box-shadow: 0px 4px 10px rgba(0, 0%, 0%, 0.08);
    position: relative;
    z-index: 2;
    text-align: left;
    padding-right: 150px;
}
.pro-menu ul {
    
    margin-bottom: 0px;
    /* margin: 0 auto; */
    display: table;
    margin-right: 400px;
}
.pro-menu ul li {
    display: inline-block;
}
.pro-menu ul li a {
    padding: 10px 14px;
    line-height: 53px;
    color: #fff;
    font-weight: 500;
    border-right: 1px solid #405d7d;
}
.pro-menu ul li a:hover{
    text-decoration: none;
}
/*******end std_nav *******/
/******* start std_pro ********/
.stu-db {
    position: relative;
    /* overflow: hidden; */
    background: #f7f8f9;
}
.pg-inn {
    background: #fff;
    /* border: 1px solid #333; */
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.08);
    padding: 70px 15px;
}
.pro-user {
    position: relative;
    margin-top: -130px;
    box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
    border: 3px solid  #f3f2f2;
    z-index: 9;
}
.pro-user img{
    width: 100%;
    height: 100%;
    border: 2px solid #f3f2f2 outside;
}
.pro-user-bio {
    background: #fff;
    font-weight: bold;
    
    padding: 25px;
    box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
    border: 1px solid #f3f2f2;
}
 .desc_sec ul{
    list-style: none;
}
.pro-user-bio > ul{
    list-style: none;
    padding:12px;
    margin-bottom: 20px;
}
.pro-user-bio > ul li{
    
}
.pro-user-bio > ul li:first-child{
    font-size:18px;
}
.pro-user-bio .std_id{
   color: #708090; 
}
.desc_sec {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    background: #fff;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
    border: 1px solid #f3f2f2;
    text-align: right;
}

.desc_sec p{
    color: #708090;
}
.desc_sec h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeef;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #203245;
}
/**** start timline*****/
.timeline{
    margin-top: 100px;
    text-align: right;
}
.timeline .parts hr{
    margin-right: 50px;
}
.timeline .parts .part{
    margin-bottom: 2rem;
    position: relative;
}
.timeline .parts .part::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background: #ccc;
    top: 0rem;
    right: 17.5px;
}
.timeline .parts i{
    padding: 10px;
    background: #517ce6;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.timeline .parts i:hover{
    background: #e66030;
}
.timeline .parts p{
    font-weight: bold;
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 10px;
}
.timeline .parts span{
    color: #777;
    font-size: 0.8rem;
}
.timeline .parts .course{
    margin-bottom: 1rem;
}
.timeline .parts .course-name{
    border-right: 1px solid #999;
    position: relative;
    padding-right:25px;
}
.timeline .parts .course-name::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4dc13e;
    top: 0.54rem;
    right: 8px;

}
.timeline .parts .lecturer{
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 5px;
    display: inline-block;
    margin-top: 1rem;
}
.btn-success {
    color: #fff;
    background-color: #283da7;
    border-color: #3628a7;
}
/***** timeline *****/
/******* end student ********/






/********start techear ******/
/***** Start Add *****/

.add{

}
.add .content{
    background: #fff;
    max-width: 75%;
    padding: 30px 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    min-height: 439px;
}
.add .content h1{
    font-size: 2.6em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}
.add .content form{
    max-width: 75%;
    margin: auto;
}
.add .content form .form-group{
    position: relative;
}
.add .content form .form-group i{
    position: absolute;
    right: 0;
    top: 0.8em;
    color: #1488CC;
}
.add .content form select,
.add .content form input{
    height: 2.75em;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding-right: 25px;
}
.add .content form select:focus,
.add .content form input:focus{
    box-shadow: none;
    border-bottom: 1px solid #1488CC;
}
.add .content form small{
    text-align: right;
}
.add .content form .btn{
    margin-top: 10px;
}

/***** End Add *****/
/*** Start Footer ***/

footer{
    background: #0b0c15;
    padding: 30px;
}
footer h4{
    color: #fff;
}
footer .links,
footer .social-media
{
    padding: 0;
}
footer .links li a{
    color: #fff;
    margin-bottom: 1rem;
    display: block;
}
footer .links li a:hover{
    text-decoration: none;
}
footer .social-media {
    margin-top: 2rem;
}
footer .social-media li{
    margin: 5px;
    display: inline-block;
}
footer .social-media li a{
    color: #ddd;
    font-size: 1.5rem;
}
footer .join p{
    color: #fff;
}
footer .join form .form-control{
    max-width: 75%;
    margin: auto;
    border-radius: 0;
    background: #0b0c15;
    color: #eee;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
}
footer .join form .btn{
    border-radius: 0;
}
footer .join form .form-control:focus{
    box-shadow: 0px 0px 0px;
}
footer hr{
    border-top: 1px solid #555;
}
footer .copy-right{
    color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #5ae1ee;
    border-color: #5ba6c9;
}
/*** End Footer ***/
/********* start conatnt *********************************/
.contact_us{
    background-image: url(../img/gallery-imgs-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height:755px;
    overflow: hidden; 
}
.contact_us .contact{
    margin: auto;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.contact_us  .contant{
     width: 40%;
    display: inline-block;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 25px;
    margin-bottom: 80px;
    
}
.contact_us .contact .contant h5{
    margin: 20px;
    margin-bottom: 50px;
    margin-left: 150px;
    color:#fff;
    text-transform: capitalize;
    font-size: 50px;
     
}

.contact_us .contact .form input{
    display: inline-block;
	height: 30px;
    width: 80%;
	border-radius: 3px;
	margin-bottom: 15px;
	outline: 0;
    border: none;
    padding: 7px;
}
.contact_us .contact .form textarea{
    display: inline-block;
	height: 150px;
    width: 80%;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: 0;
}
.contact_us .contant .form .btn{
    color: #fff;
    font-size: 20px;
    background-color: #C66666;   
    border: solid 1px #C66666;
    border-radius: 3px;
    padding-bottom: 20px;
    height: 40px;
}

.contact_us .contact .add{
      width: 40%;
    display: inline-block;
    text-align: right;
}
.contact_us .contact .add p{
    line-height: 25px;
    font-size: 20px;
    color:#fff;
    font-family: Arial, Baskerville, monospace;
    
}
.contact_us .contact .add address{
     line-height: 25px;
    font-size: 20px;
    color:#fff;
    font-family: Arial, Baskerville, monospace;
}









